name: Keep Warm

on:
  schedule:
    # Run every 14 minutes
    - cron: '*/14 * * * *'
  workflow_dispatch: # Allow manual triggering

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Backend
        run: |
          curl -I https://homly-backend-8616.onrender.com/api/products?limit=1
          echo "Ping sent to backend to prevent sleeping"
